@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-color-first: #ffffff;
  --text-color-second: #333333;
  --text-color-third: #28a745;
  --text-color-fourth: #0284d0;
  --text-color-fifth: #808080;

  --background-color-first: #ffffff;
  --background-color-second: #28a745;
  --background-color-third: #0284d0;
  --background-color-fourth: #f4f4f4;
  --background-color-fifth: #333333;

  --border-color-first: #f5f5f5;

  --action: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;

  color: var(--hover-color-first);
  background-color: var(--background-color-first);
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section-title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
    padding: 0 28px;
  }
}

.bg_img {
  position: relative;
}

.bg_img .layout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.logo-icon {
  color: var(--background-color-second);
}

.social-icon {
  transition: all 300ms var(--action);
}

.social-icon:hover,
.social-icon:focus {
  color: var(--text-color-third);
}
